<div class="container">
  <div class="jumbotron">
  <h1>BayardTheque</h1>
  <p>Mon site pour gèrere mes collections de livres</p>
  <br>
  <%= link_to 'Mes livres', books_path, class: 'btn btn-primary btn-lg' %>
  <%= link_to 'Ajouter un livre', new_book_path, class: 'btn btn-info btn-lg' %>
</div>
</div>